<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383314754766-44vf6e7cqp20j2855ivip46tejuernap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383314754766-44vf6e7cqp20j2855ivip46tejuernap</string>
	<key>API_KEY</key>
	<string>AIzaSyBXHU62RIwykVDmJFJVC7a33Vek1ZWDYe8</string>
	<key>GCM_SENDER_ID</key>
	<string>383314754766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patryklaskowski.doNotForget</string>
	<key>PROJECT_ID</key>
	<string>do-not-forget-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>do-not-forget-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383314754766:ios:9e335994a84e2daac2649f</string>
</dict>
</plist>